<header>
  <h1>A/B Tests Dashboard</h1>
</header>

<% @experiments.each do |name, experiment| %>
  <div class="experiment">
    <h2><%= experiment.name.to_s.titleize %></h2>
    <p><%= experiment.description %></p>
    <% if experiment.goal %>
      <p><b>Goal:</b> <%= experiment.goal %></p>
    <% end %>
    <table>
      <tr>
        <th>Group
          <i>The group, defining a variant of the experiment</i>
        </th>
        <th>Description
          <i>The description of the variant of the experiment corresponding to a group</i>
        </th>
        <th>Views
          <i>How many times the experiment was viewed in a group</i>
        </th>
        <th>Sessions
          <i>How many unique visitors in a group viewed the experiment</i>
        </th>
        <th>Successes
          <i>How many times the goal was reached for a group</i>
        </th>
        <th>Conversions
          <i>How many unique visitors in a group reached the goal</i>
        </th>
        <th>Conversion rate
          <i>Ratio of convertions over sessions</i>
        </th>
        <th>Z-score
          <i>Z-score for the confidence testing</i>
        </th>
        <th>Confidence
          <i>Probability that this group is having a real effect on the
            conversion rate, compared to the control group</i>
        </th>
      </tr>
      <% experiment.results.each do |group_name, results| %>
        <tr class="<%= 'winner' if winner?(experiment, group_name) %> <%= 'control' if results[:control] %>">
          <td title="<%= results[:description] %>"><b><%= group_name.to_s.titleize %></b></td>
          <td><%= results[:description] %></td>
          <td><%= format_number results[:views] %></td>
          <td><%= format_number results[:sessions] %></td>
          <td><%= format_number results[:successes] %></td>
          <td><%= format_number results[:conversions] %></td>
          <td>
            <%= format_percentage results[:conversions].to_f, results[:sessions] %>
            <% unless results[:control] %>
              <em>(<%= cr_gain(results, experiment.results[:control]) %>)</em>
            <% end %>
          </td>
          <td><%= format_decimal results[:z_score] %></td>
          <td><%= confidence results[:z_score] %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
